<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" href="/images/favicon.ico">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="/pages/admindashboard.css">
<title>Add a martyr</title>
</head>
<body>

    <nav class="nav nav_top">
        <div class="logo">
            <a href="/"><img src="/images/logo.png" width="250"></a>
        </div>
        <div class="nav_side">
            <a href="/admin/logout">LOGOUT</a>
        </div>
    </nav>

    
    <div class="card-body">
        <form action="/admin/insert" method="POST">
         
          <div class="form-group">
            <label for="Name">Name</label>
            <input type="text" class="form-control" id="name" name="name">
          </div>

          <div class="form-group">
            <label for="post">Post</label>
            <input type="text" class="form-control" id="post" name="post">
          </div>

          <div class="form-group">
            <label for="force">Force</label>
            <input type="text" class="form-control" id="force" name="force">
          </div>

          <div class="form-group">
            <label for="info">Native</label>
            <input type="text" class="form-control" id="info" name="info">
          </div>

          <div class="form-group">
            <label for="bank">Bank Details</label>
            <input type="text" class="form-control" id="bank" name="bank">
          </div>
          
          <button type="submit" class="btn btn-primary">Add</button>
        </form>
      </div>

        
</body>
</html>

