<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/images/favicon.ico">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/pages/donordashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <title>Udaan</title>
  </head>
  <body style="background-color: rgb(244, 241, 235);">

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-brand">
            <img src="/images/udaan White.png" width="120" height="40" class="d-inline-block align-top" alt="">
        </div>
      
    </div>
  </nav>

    <div class="card text-center" style="background-color: rgb(244, 241, 235);">
        <div class="card-header">
          <p class="header"><b>Every donation, regardless of its size, carries significance and makes a difference in supporting meaningful causes.</b></p>
        </div>      
      </div>

    <div class="wrapper">
		<div class="container payment-form-margin">
			<main><div class="d-flex justify-content-center">
                <form method="POST" action="/payment/order/<%=MartyrId%>">
                    <div class="text-center mb-3">
                      <label for="amountInput" class="form-label header">Enter an amount</label>
                      <input name="amount" type="number" min="1" class="form-control form-control-lg" id="amountInput" aria-describedby="amountHelp" required>
                      <div id="amountHelp" class="form-text"></div>
                    </div>
            
                    <div class="d-grid">
                        <button type="submit" class="btn btn-success btn-lg btn-block btn-change" >Donate</button>
                    </div>
                    <div class="text-center" target="_blank"> <img referrerpolicy="origin" src = "https://badges.razorpay.com/badge-dark.png " style = "height: 55px; width: 150px; margin-top: 50px;" alt = "Razorpay | Payment Gateway | Neobank"></div>
                </form>
            </div></main>			
		</div>
              <div class="text-center  fixed-bottom p-4" style="background-color: rgba(0, 0, 0, 0.025);">
        © 2023 Copyright:
        Udaan Foundation
      </div>
    </div>
</body>

</html>