.nav
{
    background-color: rgba(0, 0, 0, 0.856);
    z-index: 9;
    padding-left: 50px;
    padding-right: 50px;
    display:flex;
   
}
.nav_top
{
    
    top:0;
    right:0;
    left:0;
}
.logo
{
    float:left;
    width: 55%;
}
.logo img
{
    padding: 3px;
    width:20%;
    
    
    
}
.nav_side
{
    float:right;
    width:45%;
    margin-top: 20px;
}
.nav_side a
{
    text-decoration: none;
    margin-right: 10px;
    margin-left:50px;
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 5px;
    color: white;
    font-weight: bold;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    
}
.nav_side a:hover
{
    color: rgb(79, 255, 88);
    transition: all 1s ease;
}
